@charset "UTF-8";

body{
color : #666666;
text-align : center;
margin-top : 0px;
background : #D3E5E5;
}

#profile{
  background: #FEEEED;
}

#links{
  background: #FEEEED;
}

.nav {
    padding: 0 20px;
    margin: 0 auto 20px;
    width: 760px;
    font-size: 85%;
    background: #555;
}
.nav li {
    list-style: none;
    float: left;
}
.nav li a {
    text-decoration: none;
    color: #f88;
    padding: 8px 12px;
    display: block;
}
.nav li a:hover {
    background: #666;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
